<div class="customContainer">
    <div class="alert alert-warning" role="alert"><img class="Tekentje"
                                                       src="style/images/I.jpg">
        Als u vragen heeft kunt u onderstaand form invullen en helpen we u zo spoedig mogelijk.
    </div>

    <form name="contactForm" novalidate class="validatie">

        <div class="form-group form-inline inputMargin">
            <label class="inputLabel witteText">Naam *</label>

            <div class="input-group">
                <input placeholder="Naam" class="form-control" type="text"
                       ng-model="contactgegevens.naam" id="naam" required=""/>
            </div>
        </div>

        <div class="form-group form-inline inputMargin">
            <label class="inputLabel witteText">Email*</label>

            <div class="input-group">
                <input placeholder="Email" class="form-control" type="email" ng-model="contactgegevens.email"
                       id="email" required=""/>
            </div>
        </div>

        <div class="form-group form-inline inputMargin">
            <label class="inputLabel witteText">Bericht*</label>

            <div class="input-group">
                <textarea placeholder="Bericht" class="form-control" rows="4" type="text" ng-model="contactgegevens.bericht"
                          id="bericht" required=""></textarea>
            </div>
        </div>

        <br>

        <button ng-disabled="contactForm.$invalid" type="button" ng-click="contact(contactgegevens)"
                class="center-block btn btn-primary btn-lg">
            VERSTUREN
        </button>
    </form>

    <br>

    <div ng-show="success == false" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{error}}
    </div>

    <div ng-show="success == true" class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span>Bedankt, we hebben uw mail succesvol ontvangen.</span>
    </div>
</div>

<div class="customContainer">
    <div class="row">
    <span class="col-xs-4 pull-left witteText">
    <p><b>DOOD.</b></p>
    Ruitenberglaan 26</br>
    6882 BG Arnhem</br>
    Mail: info@dood.nl</br>
    Tel: 0645-225318</br>
    KvK: 22546841612
        </span>

     <span class="col-xs-4 pull-right witteText">
    <p><b>Yarden</b></p>
    Hellingsstraat 33</br>
    2254 HG Erickson</br>
    Mail: info@yarden.com</br>
    Tel: 0348-942973</br>
    KvK: 25556486192
        </span>
    </div>
</div>




