<div class="col-xs-2 col-md-2 col-lg-2" ></div>
<div class="col-xs-10 col-md-10 col-lg-10 minicontent">
    <div class="row">
        <div class="alert alert-warning" role="alert"><img class="Tekentje"
                                                           src="style/images/I.jpg">

            <b>Under construction</b>

            <p>Deze pagina moet nog worden gemaakt. Onze excuses voor het ongemak.</p>
        </div>
    </div>
    <br>

    <div class="row text-center">
        <img class="onderhoudplaatje" src="style/images/overheidthumb.jpg">
        <img class="onderhoudplaatje" src="style/images/yardenthumb.jpg">
        <img class="onderhoudplaatje" src="style/images/doodthumb.jpg">
    </div>

</div>