<div class="customContainer" ng-init="initGebruiker()">
    <div ng-show="!loggedIn" class="alert alert-info" role="alert">
        <p><b>Welkom op de DOOD. app.</b></p>

        <p>Dit is een initiatief van Yarden om u de mogelijkheid te geven uw eigen uitvaart samen te stellen.
            Via deze applicatie kunt u uw eigen wensen uitten, of een uitvaart samenstellen. U kunt ook mits u de
            machtigingen heeft
            de uitvaart van een geliefde samenstellen.
        </p>

    </div>

    <div class="alert alert-warning" role="alert"><img class="Tekentje"
                                                       src="style/images/I.jpg">
        <span ng-show="!loggedIn">U gaat inloggen met <b>DigiD</b>.</span>
        <span ng-show="loggedIn">Welkom, u bent ingelogd als <b>{{gebruikersNaam}}</b>.</span>
    </div>
    <button ng-show="loggedIn" type="submit" ng-click="inEnUitloggen()"
            class="center-block btn btn-primary btn-lg">
        LOG UIT
    </button>


    <form ng-show="!loggedIn" name="loginForm" novalidate class="validatie">

        <div class="inputBlok">
            <div class="form-group form-inline">
                <label class="inputLabel">Gebruikersnaam*</label>

                <div class="input-group">
                    <input placeholder="Gebruikersnaam" class="form-control" type="text"
                           ng-model="gebruiker.gebruikersnaam" id="gebruikersnaam" value="gebruikersNaam" required=""/>
                </div>
            </div>
        </div>

        <div class="inputBlok">
            <div class="form-group form-inline">
                <label class="inputLabel">Wachtwoord*</label>

                <div class="input-group">
                    <input placeholder="Wachtwoord" class="form-control" type="password" ng-model="gebruiker.wachtwoord"
                           id="wachtwoord" required=""/>
                </div>
            </div>
        </div>

        <br>

        <button ng-disabled="loginForm.$invalid" type="submit" ng-click="inEnUitloggen(gebruiker)"
                class="center-block btn btn-primary btn-lg">
            LOG IN
        </button>
    </form>

    <br>

    <div ng-show="error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
    </div>
</div>