<div class="customContainer witteText">
    <div class="row">
            <p><b>Wie zijn wij?</b></p>
            Wij zijn een instantie van Stichting Yarden. Yarden beheerd maarliefst 43 uitvaartcentra over heel Nederland.
            Wij zijn ontstaan uit de wens om mensen tijdens een moeilijke tijd met zo min mogelijk vragen en lasten te laten staan en hun te begeleiden.
            Onze applicatie geeft gebruikers een duidelijk stapsgewijze methode om al hun wensen te uitten en een mogelijkheid om de uitvaart van uzelf
            of van uw naaste samen te stellen. Omdat dit systeem nu overal binnen Yarden gebruikt wordt hoeft u bijvoorbeeld niet los muziek te kiezen
            en te sturen naar het door u gekozen crematorium.
    </div>
    <br>
    <div class="row text-center">
        <img class="wiezijnwijplaatje" src="style/images/overheidthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/yardenthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/doodthumb.jpg">

    </div>

</div>